<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ramraj.pebblecanvasnotifications"
    android:versionCode="3"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_pebblecanvasnotifications"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ramraj.pebblecanvasnotifications.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
            
        <receiver
            android:name="com.ramraj.pebblecanvasnotifications.NowPlayingPlugin"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.pennas.pebblecanvas.plugin.REQUEST_DEFINITIONS" />
                <action android:name="com.pennas.pebblecanvas.plugin.REQUEST_UPDATE" />
            </intent-filter>
        </receiver>
        
    <service android:name="com.ramraj.pebblecanvasnotifications.NotificationService"
        android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
        android:label="Pebble Canvas Notifications"
        android:enabled="true"
        android:exported="false">
        <intent-filter>
            <action android:name="android.accessibilityservice.AccessibilityService"/>
        </intent-filter>
         <meta-data
            android:name="android.accessibilityservice"
            android:resource="@xml/accessibilityservice" />
    </service>
        
        
    </application>

</manifest>